@tailwind base;
@tailwind components;
@tailwind utilities;

.translate-z-0 {
  transform: translateZ(0px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f13024;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #f13024;
}

@layer base {
  body {
    @apply overflow-hidden leading-relaxed;
  }
  .page {
    @apply w-full h-dvh overflow-hidden;
  }
  .btn {
    @apply h-[52px] 4xl:h-[62px] 5xl:h-[112px] text-sm sm:text-lg xl:text-[1vw] xl:leading-[1.8];
  }
  .input {
    @apply w-full h-[52px] 4xl:h-[72px] 5xl:h-[112px] rounded-lg pl-6 text-sm sm:text-lg xl:text-[1vw] xl:leading-[1.8];
  }
  .input,
  .textarea {
    @apply bg-transparent outline-none focus:ring-1 focus:ring-accent border border-white/20 placeholder:text-white/30 placeholder:font-light;
  }
  .textarea {
    @apply w-full h-[180px] 4xl:h-[240px] 5xl:h-[340px] p-6 rounded-lg resize-none text-sm sm:text-lg xl:text-[1vw] xl:leading-[1.8];
  }
}

.hide-scrollbar {
  overflow-y: auto;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill {
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 640px) {
  input:-webkit-autofill {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (min-width: 1280px) {
  input:-webkit-autofill {
    font-size: 1vw;
    line-height: 1.8;
  }
}
